body{
    font-family: "Arial";
}

#heading{
    text-align: center;
    font-family: "Arial";
    font-size: 2.2rem;
    color: hsl(197, 100%, 40%);
}

#hand-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#rock-btn, #paper-btn, #scissor-btn{
    border: none;
    border-radius: 50px;
    margin: 30px;
    padding: 40px;
    cursor: pointer;

}

#rock-btn:hover, #paper-btn:hover, #scissor-btn:hover{
    transition-duration: 50ms;
    transform: scale(1.1);
    background-color: hsl(197, 100%, 80%);
}

#rock-btn:active, #paper-btn:active, #scissor-btn:active{
    transition-duration: 50ms;
    transform: scale(1.0);
    background-color: hsl(197, 100%, 60%);
}

#result-window{
    text-align: center;
}

#result, #scoreBoard{
    font-size: 2rem;
}

.win{
    color: green;
}

.lose{
    color: red;
}

.tie{
    color: hsl(35, 100%, 45%);
}