.myButton{
    font-size: 4rem;
    border: none;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 10px;
}

.enabled{
    background-color: hsl(217, 100%, 50%);
    color: white;
}

.hover{
    font-weight: bold;
    box-shadow: 0 0 10px hsla(0, 0%, 50%, 0.54)
}

.disabled{
    background-color: hsl(0, 58%, 54%);
    color: white;
}